<h1>Is your word in the string??</h1>

<form action="/words">
  <div class="form-group">

     <label for="word">Please put the sentence you would like to check:
     </label>
     <input id="word" name="word" class="form-control" type="text">
    </br>
    </br>
    </br>
    </br>


     <label for="input">What word would you like to check for?
     </label>
     <input id="input_word" name="input_word" class="form-control" type="text">
  </div>

    </br>
    </br>

  <button type="submit" class="btn-success">Send</button>
</form>
