<h1>You have <%= @words_in_string %> words that are included in this sentence</h1>

<h2>The word: </h2>
<h2>"<%= @input_word %>" </h2>
<h2><%= @is_is_not %> included in this sentence </h2>

  <p>"<%= @word %>"
</p>
